.content {
  padding: 3vw 0px;
  min-height: 40vh;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.inputData {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.inputData::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.inputWrapper {
  display: flex;
  position: relative;
  width: 200px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ff6700;
}
.inputWrapper > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.inputWrapper > label > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.queries {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.queries > button {
  font-weight: 400;
  font-size: 1rem;
  padding: 5px 30px;
  border-radius: 10px;
}

.filters {
  margin: 3vw 0px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  width: fit-content;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}

.stopsFilter > div,
.durationFilter > div,
.priceFilter > div {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}
.stopsFilter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.stopsFilter > nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.flightsInfo{
  flex-grow: 1;
}