.img{
  height: 350px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.content > p, .content > h4{
  margin: 0;
  font-weight: 500;
  color: #424244;
}
.header{
  font-size: 1.1rem;
}